body {
	background-color: #E6E6E6;
}
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#titleBar {
	height: 26%;
	width: 100%;
	background-color: #85B6FF;
	position: fixed;
	top: -26%;
	left: 0;
	border: solid 2px;
	border-color: #333333;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 3px 10px;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    text-align: center;
    z-index: 2;
    -webkit-transition: top 2s;
	-o-transition: top 2s;
	transition: top 2s;

}
#logoImage {
	height: 60%;
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	top: -2%;
}
.bgText {
	position: relative;
	top: -7%;
	text-shadow: 0px 0px 10px;
    color: #666666;
    font-size: 2em;
}
#searchBarContainer {
	background-color: #C2C2A3;
	border: solid 2px;
	border-color: #333333;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 3px 10px;
	height: 10%;
	width: 100%;
	position: fixed;
	top: -10%;
	z-index: 1;
	-webkit-transition: top 3s;
	-o-transition: top 3s;
	transition: top 3s;
}
#searchBar {
	border: solid 3px #D8D8C4;
	box-shadow: 0px 0px 4px #6C6C62;
}
#searchBarBtn {
	border: solid 3px #7C7C78;
	box-shadow: 0px 0px 4px #6C6C62;
}
#searchBarBtn:hover {
	border: solid 3px #D8D8C4;
	box-shadow: 0px 0px 4px #6C6C62;
}
#searchForm {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 24%;
	top: 30%;
}
#chartCanvas {
	position: relative;
	top: 2%;
	width: 100%;
	height: 100%;
}
#chartContainerCurrent {
	width: 50%;
	height: 63%;
	top: -70%;
	left: 25%;
	position: fixed;
	-webkit-transition: top 3s, width 3s, height 3s;
	-o-transition: top 3s, width 3s, height 3s;
	transition: top 3s, width 3s, height 3s;
	background-color: #D4D4D4;
	border: solid 2px #B2B2B2;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 15px #BABA7C;
	text-align: center;
	z-index: 0;
}
#chartContainerOld {
	width: 50%;
	height: 63%;
	top: 35%;
	left: 25%;
	position: fixed;
	background-color: #D4D4D4;
	border: solid 2px #B2B2B2;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 15px #BABA7C;
	text-align: center;
}
#instructText {
	position: relative;
	top: 33%;
}
@keyframes coverOldChart {
	0% {width: 50%; height: 66%; top: -70%;}
	75% {width: 50%; height: 66%; top: 30%;}
	85% {width: 54%; height: 70%; top: 30%;}
	100% {width: 50%; height: 66%; top: 35%;}
}
@-webkit-keyframes coverOldChart {
	0% {width: 50%; height: 66%; top: -70%;}
	75% {width: 50%; height: 66%; top: 30%;}
	85% {width: 54%; height: 70%; top: 30%;}
	100% {width: 50%; height: 66%; top: 35%;}
}
#tweets {
	position: fixed;
	top: 36%;
	left: 0px;
	width: 25%;
	height: 66%;
}
.tweet {
	-webkit-transition: all 3s;
	-o-transition: all 3s;
	transition: all 3s;
	width: 80%;
	position: relative;
}